//output:index.html
mixin generateTitles(title) 
  h2.t1 #{title}
  h2.t2 #{title}
  h2.t3 #{title}
  h2.t4 #{title}
  h2.t5 #{title}
  h2.t6 #{title}
  h2.t7 #{title}


doctype html
html
  include ./jade/_head.jade
  body
    include ./jade/_outer.jade
    .container
      a(href="#")
        .post.sarah
          +generateTitles("SARAH MEADOWS")
      a(href="#")
        .post.cos
          +generateTitles("COS")
      a(href="#")
        .post.mosk
          +generateTitles("MOSK")
      a(href="#")
        .post.future
          +generateTitles("FUTURE LOGOS")
      a(href="#")
        .post.orchard
          +generateTitles("ORCHARD47")
      a(href="#")
        .post.aax
          +generateTitles("ALBUM ART EXCHANGE")
          
